<ion-view view-title="Setup Workout Programs">

  <ion-content>

    <div class="list">

      <div class="item item-button-right " ng-repeat-start="day in days">
        {{day.label}} 
       <a class="button button-icon" href="#/app/setup/exercises">
          <i class="icon ion-plus"></i>
        </a>        
      </div>
      <div class="item" ng-repeat="workout in day.workouts">
        {{workout.label}} 
      </div>

      <div ng-repeat-end></div>
    </div>
  </ion-content>
</ion-view>