<ion-view view-title="Configure Exercises">

  <ion-content>

    <ion-list>
      <ion-toggle ng-model="exercise.selected" ng-repeat-start="exercise in routines" toggle-class="toggle-calm">
        {{exercise.routine.label}}
        <p ng-show="exercise.selected">Target Sets <strong>{{exercise.targetSets}}</strong></p>
      </ion-toggle>
      <ion-item ng-repeat-end ng-show="exercise.selected">
        <div class="range">
          1
          <input type="range" name="volume" min="3" max="20"  ng-model="exercise.targetSets">20</div>
      </ion-item>
    </ion-list>
    <p class="padding"><hr/></p>
  </ion-content>
</ion-view>

<div class="tabs tabs-background-positive tabs-striped tabs-color-assertive">
  <a class="tab-item" href="#/app/config-workout">Workouts</a>
  <a class="tab-item active positive"  href="#/app/config-exercise">Exercises</a>
</div>