<ion-view view-title="Configure Workouts">
<!--     <ion-nav-buttons side="right">
 -->        <!--     <button class="button button-clear button-positive" ng-click="doSomething()">Sort</button>
    -->
<!-- </ion-nav-buttons> -->
<ion-content>

    <ion-list>

        <ion-item ng-repeat="workout in configuration.workouts">

            <div class="item item-divider">{{workout.title}}</div>
            <ion-list>
                <ion-item ng-repeat="set in configuration.availableSets" class="item-toggle">
                    {{set }}
                    <label class="toggle toggle-positive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>

                </ion-item>
            </ion-list>
        </ion-item>
    </ion-list>
    <p class="padding">&nbps;</p>
</ion-content>
</ion-view>
    <div class="tabs tabs-background-positive tabs-striped tabs-color-assertive">
        <a class="tab-item  active positive" href="#/app/config-workout">Workouts</a>
        <a class="tab-item"  href="#/app/config-exercise">Exercises</a>
    </div>