<ion-view view-title="Configure Workouts">
<!--     <ion-nav-buttons side="right">
 -->        <!--     <button class="button button-clear button-positive" ng-click="doSomething()">Sort</button>
    -->
<!-- </ion-nav-buttons> -->
<ion-content>

    <ion-list>

        <ion-item ng-repeat="workout in configuration.workouts">

            <div class="item item-divider">{{workout.title}}</div>
            <ion-list>
                <ion-toggle ng-repeat="set in workout.worksets" ng-model="set.selected"   toggle-class="toggle-calm">
                    {{set.exercise.text }} {{set.exercise.active }}
                </ion-toggle>

            </ion-list>
        </ion-item>
    </ion-list>
    <p class="padding">&nbsp;</p>
</ion-content>
</ion-view>
    <div class="tabs tabs-background-positive tabs-striped tabs-color-assertive">
        <a class="tab-item  active positive" href="#/app/config-workout">Workouts</a>
        <a class="tab-item"  href="#/app/config-exercise">Exercises</a>
    </div>