<ion-view view-title="Workout A">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="playlist in worksets" href="#/app/playlists/{{playlist.id}}">{{playlist.title}}</ion-item>
            <div class="item item-divider">Logs</div>
            <ion-item>Calories</ion-item>
            <ion-item>Weight</ion-item>
            <ion-item>BMI</ion-item>
        </ion-list>
        <div class="padding">
        <button class="button button-full button-positive">Complete Workout</button>
        </div>
    </ion-content>
</ion-view>