<ion-view view-title="{{workset.title}}">
    <ion-content>
        <div class="padding-left">
            <h5>Last: Tuesday 13/5</h5>
        </div>
        <div class="row">
            <div class="col">
                <div class="button-set">135 X 8</div>
            </div>
            <div class="col">
                <div class="button-set">135 X 8</div>
            </div>
            <div class="col">
                <div class="button-set">135 X 8</div>
            </div>
            <div class="col">
                <div class="button-set">135 X 8</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="button-set">135 X 8</div>
            </div>
            <div class="col">
                <div class="button-set">135 X 8</div>
            </div>
            <div class="col">
                <div class="button-set">135 X 8</div>
            </div>
            <div class="col">
                <div class="button-set">135 X 8</div>
            </div>
        </div>
        <div class="padding-left">
            <h5>Set 8 of 10</h5>
        </div>
        <div class="row">
            <div class="col">
                <button class="button-set button button-positive ">135 X 10</button>
            </div>
            <div class="col">
                <button class="button-set button button-positive ">135 X 10</button>
            </div>
            <div class="col">
                <button class="button-set button button-positive ">135 X 10</button>
            </div>
            <div class="col">
                <button class="button-set button button-assertive  btn-da">135 X 8</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button-set button button-positive ">135 X 10</button>
            </div>
            <div class="col">
                <button class="button-set button button-positive ">135 X 10</button>
            </div>
            <div class="col">
                <button class="button-set button button-positive ">135 X 10</button>
            </div>
            <div class="col">
                <button class="button-set button button-balanced  btn-da">135 X 8</button>
            </div>
        </div>
        <div class="padding-left padding-right">
            <hr/>
        </div>
        <div class="row">
            <div class="col">
                <label class="label-set">Load</label>
            </div>
            <div class="col col-50">
                <button class="button button-outline button-icon icon ion-minus tiny-button-set"></button>
                <input type="text" class="input-set" name="weight" value="375" />
                <button class="button button-outline button-icon icon ion-plus tiny-button-set"></button>
            </div>
            <div class="col col-25">
                <label class="label-set">lbs</label>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <label class="label-set">Reps</label>
            </div>
            <div class="col col-75">
                <button class="button button-outline button-icon icon ion-minus tiny-button-set"></button>
                <input type="text" class="input-set" name="weight" value="8" />
                <button class="button button-outline button-icon icon ion-plus tiny-button-set"></button>
            </div>
        </div>
        <div class="row">
            <div class="col col-50 col-offset-25">
                <button class="button button-block button-positive">Add</button>
            </div>
        </div>
        <hr/>
        <div class="padding">
            <button class="button button-block button-positive">Complete Set</button>
        </div>
    </div>
</ion-content>
</ion-view>